src/Assemble/assemble
src/Assemble/*.o
src/Assemble/utilities/*.a
src/Assemble/utilities/*.o

src/Emulate/emulate
src/Emulate/*.o

doc/Checkpoint.aux
doc/Checkpoint.log
doc/Checkpoint.pdf
doc/Report.aux
doc/Report.log
doc/Report.pdf

.idea/



assemble
emulate
core
